.episodios h3{
    text-align: center;
    margin-right: 330px;
}
.episodios a{
    text-align: center;
}

.titulo h1, h2{
    text-align: left;
    display: inline;
}
.titulo h2{
    margin-left: 50px;
    color:red;
    border: 4px solid gray;
}

.titulo{
    margin-left: 200px;
    margin-top: 100px;
}

.descricao{
    margin-left: 200px;
}

.Comentarios p,form{
    margin-left: 200px;
}

.Comentarios h3{
    text-align: center;
    margin-right: 330px;    
}

.comentariosExistentes{
    border: 3px solid green;
}